<div class="row row-cols-1 row-cols-md-2 py-6">
    <div class="col mb-4">
        <div class="card border-info h-100">
            <div class="card-body p-5">
                <h5 class="card-title mb-3">Name of resource</h5>
                <p class="card-text mb-3">A short and concise description of the resource, Lorem ipsum dolor sit
                        amet,
                        consetetur sadipscing.</p>
            </div>
            <a class="text-white bg-info card-anchor" href="#">
                <div class="card-footer d-flex justify-content-between align-items-center px-5 py-3">
                    <p class="text-white mb-0">Download Resource</p>
                    <img src="{{ blox.page.path }}assets/images/download-icon.svg" alt="" width="15px"/>
                </div>
            </a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card border-info h-100">
            <div class="card-body p-5">
                <h5 class="card-title mb-3">Name of resource</h5>
                <p class="card-text mb-3">A short and concise description of the resource, Lorem ipsum dolor sit
                        amet,
                        consetetur sadipscing.</p>
            </div>
            <a class="text-white bg-info card-anchor" href="#">
                <div class="card-footer d-flex justify-content-between align-items-center px-5 py-3">
                    <p class="text-white mb-0">Download Resource</p>
                    <img src="{{ blox.page.path }}assets/images/download-icon.svg" alt="" width="15px"/>
                </div>
            </a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card border-info h-100">
            <div class="card-body p-5">
                <h5 class="card-title mb-3">Name of resource</h5>
                <p class="card-text mb-3">A short and concise description of the resource, Lorem ipsum dolor sit
                        amet,
                        consetetur sadipscing.</p>
            </div>
            <a class="text-white bg-info card-anchor" href="#">
                <div class="card-footer d-flex justify-content-between align-items-center px-5 py-3">
                    <p class="text-white mb-0">Download Resource</p>
                    <img src="{{ blox.page.path }}assets/images/download-icon.svg" alt="" width="15px"/>
                </div>
            </a>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card border-info h-100">
            <div class="card-body p-5">
                <h5 class="card-title mb-3">Name of resource</h5>
                <p class="card-text mb-3">A short and concise description of the resource, Lorem ipsum dolor sit
                        amet,
                        consetetur sadipscing.</p>
            </div>
            <a class="text-white bg-info card-anchor" href="#">
                <div class="card-footer d-flex justify-content-between align-items-center px-5 py-3">
                    <p class="text-white mb-0">Download Resource</p>
                    <img src="{{ blox.page.path }}assets/images/download-icon.svg" alt="" width="15px"/>
                </div>
            </a>
        </div>
    </div>
</div>